<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'InzApp/style.css' %}" />
	
	<link rel="stylesheet" href="{% static 'InzApp/font-awesome-4.5.0/css/font-awesome.min.css' %}">
	
	<script type="text/javascript" src="{% static 'InzApp/javascript.js' %}" ></script>
	
	<meta charset="utf-8">
	<title>Thesis | 404</title>
	
</head>
<body>
	<div>
		<table class="okno_logowania">
			
				<tr>
					<td colspan="2" style="text-align: center;">
						<img src="{% static "images/logo.png" %}" alt="LOGO"/>
					</td>
				</tr>
				<tr>
					<td colspan="2"><h4 style="text-align: center; color: #af4b6b;">404</h4></td>
				</tr>
				<tr>
					<td>...</td>
					<td>...</td>
				</tr>
				<tr>
					<td>...</td>
					<td>...</td>
				</tr>
				<tr>
					<td></td>
					<td><a href="{% url 'strona_glowna' %}" >Strona główna</a></td>
				</tr>
		</table>
	</div>

</body>
</html>