{% extends 'InzApp/layout.html' %}

	{% block tytul %}
	Autorzy
	{% endblock %}
	
	{% block uzytkownik_zalogowany %}
	{{ zalogowany.login }}
	{% endblock %}
	
	{% block naglowek %}
	Autorzy
	{% endblock %}
	
	{% block opis %}
	Lista zapisanych autorów publikacji naukowych.
	{% endblock %}
	
	{% block dodatkowe_skrypty %}
	<script>
	$(document).ready(function() { 
    	$("#lista_autorow").tablesorter({
    	sortList: [[1,0]] 
    	});
		} 
	); 
	</script>
	{% endblock %}
	
	{% block strona %}
	
	<script>
		ustaw_aktywny_w_menu(7);
	</script> 
	
	
	<table class="tablesorter" id="lista_autorow">
		<thead>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>Opis</th>
			<th></th>
		</thead>
		<tbody>
			{% for autor in autorzy %}
			<tr>
				<td>{{ autor.imie }}</td>
				<td>{{ autor.nazwisko }}</td>
				<td>{{ autor.opis }}</td>
				<td>
					<a href="{% url 'edytuj_autora' autor.id %}">
					<i class="fa fa-pencil fa-fw"></i>Edytuj</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% endblock %}
	