{% extends 'InzApp/layout.html' %}

	{% block tytul %}
	Moje kolekcje
	{% endblock %}
	
	{% block uzytkownik_zalogowany %}
	{{ zalogowany.login }}
	{% endblock %}
	
	{% block naglowek %}
	Moje kolekcje
	{% endblock %}
	
	{% block opis %}
	Zbiór moich kolekcji.
	{% endblock %}
	
	{% block strona %}
	
	<script>
		ustaw_aktywny_w_menu(5);
	</script> 
	
	
	<table>
	
	{% for kolekcja in kolekcje %}
		<tr>
			<td>
				{{ forloop.counter }}. <!-- licznik foreach template-->
			</td>
			<td>
				<a href="{% url 'kolekcja' kolekcja.id %}" style="color: #8c3c55; font-style: italic;">{{ kolekcja.nazwa_kolekcji }}</a> </br>
				{{ kolekcja.opis }} </br>
				utworzono: {{ kolekcja.data_utworzenia }} </br>
				zmodyfikowano: {{ kolekcja.data_modyfikacji }}
			</td>
			<td>
				<a href="{% url 'edytuj_kolekcje' kolekcja.id %}">
				<i class="fa fa-pencil-square-o fa-fw"></i>
				Edytuj</a>
			</td>
			<td>
				<a href="{% url 'usun_kolekcje' kolekcja.id %}" onClick="return confirm('Czy na pewno chcesz usunąć tą kolekcję?');">
				<i class="fa fa-trash fa-fw"></i>
				Usuń</a>
			</td>
			<td>
				<a href="{% url 'kolekcja' kolekcja.id %}">
				<i class="fa fa-eye fa-fw"></i>
				Zobacz</a>
			</td>
		</tr>
	{% endfor %}
	</table>
	
	<br />
	
	<div>
		<a href="{% url 'dodaj_kolekcje' %}">
		<i class="fa fa-plus-square fa-fw"></i>
		Dodaj kolekcje</a>
	</div>
	{% endblock %}
	
