<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'InzApp/style.css' %}" />
	
	<link rel="stylesheet" href="{% static 'InzApp/font-awesome-4.5.0/css/font-awesome.min.css' %}">
	
	<script type="text/javascript" src="{% static 'InzApp/javascript.js' %}" ></script>
	
	<meta charset="utf-8">
	<title>Thesis | Logowanie</title>
	
</head>
<body>
	<div>
		<table class="okno_logowania">
			<form action="{% url 'zarejestruj' %}" method="post"
				name="rejestracja_formularz" 
				onSubmit="return rejestracja_sprawdz();">
				{% csrf_token %}
				<tr>
					<td colspan="2" style="text-align: center;">
						<img src="{% static "images/logo.png" %}" alt="LOGO"/>
					</td>
				</tr>
				<tr>
					<td colspan="2"><h4 style="text-align: center; color: #af4b6b;">Rejestracja</h4></td>
				</tr>
				<tr>
					<td>Login</td>
					<td><input type="text" name="rejestracja_login" id="rejestracja_login"></td> <!-- name for post, id for js -->
				</tr>
				<tr>
					<td>Hasło</td>
					<td><input type="password" name="rejestracja_haslo" id="rejestracja_haslo"></td>
				</tr>
				<tr>
					<td>Powtórz hasło</td>
					<td><input type="password" name="rejestracja_haslo_powtorz" id="rejestracja_haslo_powtorz"></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><input type="text" name="rejestracja_email" id="rejestracja_email"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" class="primary" value="Zarejestruj"></td>
				</tr>
			</form>
		</table>
	</div>
</body>
</html>
	